
body {
    margin: 0;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #ffffff;
    margin: 0;
}

/* CSS which defines the formatting of header content */
header {
    width: 960px;
    margin: 0 auto;
   }
   
header h1 {
    float: left;
    padding: 20px;
    text-align: center;
    background-color: #4aaaa5
   }

header nav ul {
    margin: 0;
   }
    
header nav ul li {
    float: right;
    display: inline-block;
    list-style: none;
    padding: 35px 15px 35px 15px;
    margin: 0;
   }

/* Style for Content */
.main-content {  
    width: 960px;
    display: block;
    background-color: pink;
    margin: 0, auto;
    padding: 20px;
    float: left;
    position: relative;
   }

/* Style for Footer */
.footer {
    padding: 10px;
    background-color: black;
    color: #ffffff;
    text-align: center;
   }

#profile-pic {
    float: left;
    display: block;
    padding: 20px, 10px, 10px, 0;
    height: 215px;
    width: 185px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .5);
}

